#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- all

override_dh_auto_test:
	dh_auto_test -- check

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_dwz:
